<header>
    <div class="nav-section">
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="equipos.html">Equipos</a></li>
                <li><a href="jugadores.html">Jugadores</a></li>
                <li><a href="arbitros.html">Árbitros</a></li>
                <li><a href="partidos.html">Partidos</a></li>
                <li><a href="planes.html">Planes</a></li>
            </ul>
        </nav>
    </div>
    <div class="logo-section">
        <div class="logo">
            <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/imagen_2025-01-30_202931687-removebg-preview-YWIjl71d3WzwVPSWemfNUtuAULlm3F.png" alt="Refereezy Logo">
        </div>
        <a href="login.html" class="login-button">Iniciar sesión</a>
    </div>
</header>

