body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    padding: 2rem;
    padding-top: calc(80px + 2rem);
    flex: 1;
  }
  
  h1,
  h2 {
    color: #333;
  }
  
  button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  input,
  select {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  