body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09b794;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .logo {
    transform: translateX(-50px);
  }
  
  .logo img {
    height: 80px;
    width: auto;
  }
  
  nav {
    flex: 1;
  }
  
  nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 0;
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
    padding-top: calc(80px + 2rem);
    flex: 1;
  }
  
  h1,
  h2 {
    color: #333;
  }
  
  button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  input,
  select {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  .plan {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: #09b794;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
  }
  
  